<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Max Triba</title>
    
    <!-- CSS -->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/custom.css') }}">
    
</head>
<body>
	
	<div class="container">
	
		<div class="row">

			<div class="col-8 col-md-4">
														
				<ul>

				{% block content %}
				{% endblock content %}
				
				</ul>
	
			</div>
	
			<div class="col-4 col-md-4">
				
				{% for page in pages if 'nav' in page.meta %}
					<li><a class="nav-link" href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a></li>
				{% endfor %}
	
			</div>
	
		</div>
	
	</div>
	
	
	<div class="padding">
	</div>

</body>
</html>