/* Custom CSS to override bootstrap */

@import url('https://rsms.me/interface/interface.css');

body {
	font-family: Interface, sans-serif;
	background-color: #FFFFFF; /* FCFCFC */
	margin-top: 5%;
	margin-left: 5%;
}

.container {
	position: relative;
	margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
}


h1 {
	font-size: 36px;
	font-style: normal;
  	font-weight: 700;
}

p {
	font-size: 22px;
	font-style: normal;
  	font-weight: 400;
}

.nav-link {
	font-size: 22px;
	font-style: normal;
  	font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
  color: #1A1818;
  text-decoration: none;
}


