/* Custom CSS to override bootstrap */

@import url('https://rsms.me/interface/interface.css');

body {
	font-family: Interface, sans-serif;
	background-color: #FCFCFC;
	margin-top: 10%;
	margin-left: 10%;
}

.container {
	position: relative;
	margin-right: auto;
}


h1 {
	font-size: 14px;
	font-style: normal;
  	font-weight: 500;
}

p {
	font-size: 10px;
	font-style: normal;
  	font-weight: 400;
}

a {


}

.nav-link {
	font-size: 12px;
	font-style: normal;
  	font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
  color: #1A1818;
  text-decoration: none;
}


